@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



:root {
/* ### Primary */

--Orange: hsl(26, 100%, 55%);
--Orange-Pale-orange: hsl(25, 100%, 94%);

/* ### Neutral */

--Orange-Very-dark-blue: hsl(220, 13%, 13%);
--Orange-Dark-grayish-blue: hsl(219, 9%, 45%);
--Orange-Grayish-blue: hsl(220, 14%, 75%);
--Orange-Light-grayish-blue: hsl(223, 64%, 98%);
--Orange-White: hsl(0, 0%, 100%);
--Orange-Black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    position: relative;
}


header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.256);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;   
}

.logo-img {
    cursor: pointer;
    
}

.menu ul {
    display: flex;
    list-style: none;
    margin-right: 250px;
    margin-top: 49px;     
}

.menu ul li {
    cursor: pointer;
    margin-right: 25px;
    height: 68px;  
}

.menu ul li:hover {
    border-bottom: 3px solid var(--Orange);
    box-sizing: border-box;
}

.menu-right {
    display: flex;
    align-items: center;
}

.box-cart {
    margin-right: 40px;
    cursor: pointer;
}

.box-avatar img {
    display: block;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    width: 50px;
}

.box-avatar img:hover {
    border: 2px solid var(--Orange);
    border-radius: 50%; 
}

.cart-empty {
    position: absolute;
    top: 15%;
    left: 76%;
    width: 260px;
    min-height: 170px;
    background-color: white;
    box-shadow: 2px 3px 5px 3px #999;
}

.cart-full {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 73%;
    width: 320px;
    min-height: 190px;
    background-color: white;
    box-shadow: 2px 3px 5px 3px #999;  
}

.active-cart-empty {
    display: none;
}

.full {
    display: none;
}

.empty {
    display: none;
}

.active-cart-full {
    display: none;
}

.box-title-cart {
    margin-top: 20px;
    margin-left: 20px;
}

.title-cart {
    font-weight: bold;
}

.acording-cart-product {
    display: flex; 
    margin-top: 10px;
}

.box-img img {
    min-height: 50px;
    width: 50px;
    margin-left: 20px;
}

.content-product {
    margin-left: 10px;
}

.content-product div p {
    font-size: 0.9em;
    color: var(--Orange-Dark-grayish-blue);
}

.acording-info-price {
    margin-top: 3px;
}

.content-product-price, .turn-amount, .amount {
    color: var(--Orange-Dark-grayish-blue);  
    font-size: 0.9em; 
}

.price-total {
    font-weight: bold;
}

.trash {
    margin-top: 15px;
    margin-left: 17px;
    cursor: pointer;
}

.box-checkout {
    margin-left: 20px;
    margin-top: 30px;
}

.checkout {
    padding: 12px 105px 12px 105px;
    background-color: var(--Orange);
    cursor: pointer;
    border-radius: 7px;
    color: white;
}

.cart-empty p {
    text-align: center;
    margin-top: 35px;
}

main {
    display: flex;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 120px;
    padding-bottom: 190px; 
}

.preview-product img {
    min-height: 400px;
    width: 400px;
    border-radius: 3%;
    cursor: pointer;
}


.img-preview {
    display: flex;
    margin-top: 20px;
    gap: 25px;
}



.img-small img {
    width: 81px;
    border-radius: 8px;
    min-height: 80px;
    cursor: pointer;
}

.img-small img:hover {
    opacity: 0.7;
    background-color: var(--Orange-White);
}

.content-preview {
    margin-left: 100px;
    margin-top: 50px;
}

.name-company {
    color: var(--Orange);
    font-weight: bold;
    letter-spacing: 1px;
}

.content-preview h1 {
    margin-top: 15px;
    font-size: 2.3em;
}

.content-preview  p {
    margin-top: 35px;
    font-size: 1.1em;
    line-height: 1.7em;
}

.acroding-price {
    display: flex;
    margin-top: 30px;
}

.discount {
    font-size: 1.5em;
    font-weight: bold;
}

.box-percent {
    padding-top: 4px;
}

.percent {
    margin-left: 15px;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--Orange);
    background-color:  hsla(26, 66%, 66%, 0.598);
    padding: 2px;
    border-radius: 5%;
}

.box-price {
    margin-top: 10px;
}

.price {
    font-size: 1em;
    text-decoration: line-through;
    color: var(--Orange-Dark-grayish-blue);
    font-weight: bold;
}

#form {
    display: flex;
    align-items: center;
    margin-top: 50px;
    
}

.minus{
   height: 5px;
   width: 10px;  
   margin-bottom: 3px;  
   cursor: pointer;
   text-align: center;
}

.number {
    text-align: center;
    font-weight: bold; 
    margin-left: 5px;
}

.plus {
    text-align: center;  
}

.acording-height-button {
    height: 20px;
    cursor: pointer;
    width: 20px;
}

.background-button {
    display: flex;
    margin-left: 30px;
    width: 100px;
    gap: 30px; 
}

.fa-plus {
    color: var(--Orange);
}

.fa-minus {
    color: var(--Orange);
}

.add-cart { 
    margin-left: 30px;
    border: 1px solid var(--Orange);
    background-color: var(--Orange);
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: var(--Orange-Pale-orange);
    color: black;
}

.img-preview-show-click {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    filter: none;
    z-index: 2;
    
}

.preview-product-click img {
    min-height: 500px;
    width: 450px;
}

.preview-product-click {
    position: relative;
}

.preview-product-click button {
    border-radius: 50%;
    border-color: white;
    height: 50px;
    width: 50px;
    background-color: white;
    cursor: pointer;
}

.preview-product-click button i {
    font-size: 2.5em;
}

.btn-right {
   position: absolute;
   top: 50%;
   left: 94%;
}

.btn-right i:hover {
   color: var(--Orange);
}

.btn-left {
    position: absolute;
    right: 94%;
    top: 50%;
}

.btn-left i:hover {
    color: var(--Orange);
}

.btn-quit {
    position: relative;
    left: 92%;
    cursor: pointer;
    width: 30px;
}

.btn-quit i {
    font-size: 3em;
    color: white;
}

.btn-quit i:hover {
    font-size: 3em;
    color: var(--Orange);
}

.dark-screen {
    background-color: #999; 
    filter: brightness(50%);  
}

.event-off {
    pointer-events: none;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 0;   
}

.menu-hamb {
    display: none;
}


@media only screen and (max-width: 550px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100vw; 
        height: 100vh;
          
         
    }

    .body-color {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        display: flex;
        width: 100vw; 
        justify-content: space-between;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
        border: none;
    }

    .acording-hamb-logo {
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    .menu-hamb {
        display: block;
        cursor: pointer;
        font-size: 1.3em;
    }

    .logo-img {
        margin-left: 15px;
    }

    .menu {
        display: none;
    }

    .box-avatar {
        margin-right: 20px;
    }

    .box-avatar img {
        height: 30px;
        width: 30px;
    }

    .box-cart {
        margin-right: 15px;
        border: none;
        background-color: white;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        margin-top: 25px;
        padding: 0px;
        width: 100vw; 
    }

    .preview-product img {
        min-height: 0px;
        max-height: 300px;
        width: 100vw; 
        border-radius: 0%;
    }
    
    .img-preview {
       display: none; 
    }

    .content-preview {
        margin-left: 0px;
        margin-top: 25px;
    }

    .info-product {
        margin-left: 25px;
        margin-right: 25px;
    }

    .name-company {
        font-size: 0.8em;
    }

    .content-preview h1 {
        font-size: 1.8em;
    }
    
    .content-preview p {
        font-size: 0.9em;
    }

    .acording-box-price {
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
    }

    .box-price {
        margin-top: 34px;
        margin-right: 25px;
    }

    #form {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-left: 0px;
    }

    .background-button {
        display: flex;
        justify-content: center;
        gap: 105px;
        width: 100vw;
        margin-left: 0px;
           
    }

    .menos {
        
    }

    .number {
        
    }

    .mais {
        
    }

    .add-cart {
        margin-top: 25px;
        padding: 15px 112px 15px 112px;
        margin-left: 0px;
    }

    footer {
        margin-top: 40px;
        width: 100vw; 

    }

    .btn-left {
        position: absolute;
        top: 25%;
        background-color: white;
        padding: 20px 20px 20px 20px;
        border-radius: 50%;
        left: 5%;
        cursor: pointer;
    }

    .btn-left > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .btn-right {
        position: absolute;
        top: 25%; 
        background-color: white;
        padding: 12px 14.7px 12px 14.7px;
        border-radius: 50%;
        left: 84%;
        cursor: pointer;
    }
    
    .btn-right > i {
        
    }
}




 







