@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



:root {
/* ### Primary */

--Orange: hsl(26, 100%, 55%);
--Orange-Pale-orange: hsl(25, 100%, 94%);

/* ### Neutral */

--Orange-Very-dark-blue: hsl(220, 13%, 13%);
--Orange-Dark-grayish-blue: hsl(219, 9%, 45%);
--Orange-Grayish-blue: hsl(220, 14%, 75%);
--Orange-Light-grayish-blue: hsl(223, 64%, 98%);
--Orange-White: hsl(0, 0%, 100%);
--Orange-Black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.256);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
     
}

.logo-img {
    cursor: pointer;
    
}

.menu ul {
    display: flex;
    list-style: none;
    margin-right: 250px;
    margin-top: 49px;     
}

.menu ul li {
    cursor: pointer;
    margin-right: 25px;
    height: 68px;  
}

.menu ul li:hover {
    border-bottom: 3px solid var(--Orange);
    box-sizing: border-box;
}

.menu-right {
    display: flex;
    align-items: center;
}

.box-cart {
    margin-right: 40px;
    cursor: pointer;
}

.box-avatar img {
    display: block;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    width: 50px;
}

.box-avatar img:hover {
    border: 2px solid var(--Orange);
    border-radius: 50%; 
}

main {
    display: flex;
    margin-top: 110px;
    margin-left: 150px;
    margin-right: 120px;
}

.preview-product img {
    min-height: 480px;
    width: 400px;
    border-radius: 3%;
}

.img-preview {
    display: flex;
    margin-top: 20px;
    gap: 25px;
}



.img-small img {
    width: 81px;
    border-radius: 8px;
    min-height: 120px;
}

.img-small img:hover {
    background-color: var(--Orange-White);
}

.content-preview {
    margin-left: 100px;
    margin-top: 70px;
}

.name-company {
    color: var(--Orange);
    font-weight: bold;
    letter-spacing: 1px;
}

.content-preview h1 {
    margin-top: 15px;
    font-size: 2.3em;
}

.content-preview  p {
    margin-top: 35px;
    font-size: 1.1em;
    line-height: 1.7em;
}

.acroding-price {
    display: flex;
    margin-top: 30px;
}

.discount {
    font-size: 1.5em;
    font-weight: bold;
}

.box-percent {
    padding-top: 4px;
}

.percent {
    margin-left: 15px;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--Orange);
    background-color:  hsla(26, 66%, 66%, 0.598);
    padding: 2px;
    border-radius: 5%;
}

.box-price {
    margin-top: 10px;
}

.price {
    font-size: 1em;
    text-decoration: line-through;
    color: var(--Orange-Dark-grayish-blue);
    font-weight: bold;
}

#form {
    display: flex;
    
    align-items: center;
    margin-top: 50px;
    display: flex;
}

.minus{
   height: 5px;
   width: 10px;  
   margin-bottom: 3px;  
   cursor: pointer;
   text-align: center;
}

.number {
    text-align: center;
    font-weight: bold; 
    margin-left: 5px;
}

.plus {
    text-align: center;  
}

.acording-height-button {
    height: 20px;
    cursor: pointer;
    width: 20px;
}

.background-button {
    display: flex;
    margin-left: 30px;
    width: 100px;
    gap: 30px; 
}

.fa-plus {
    color: var(--Orange);
}

.fa-minus {
    color: var(--Orange);
}

.add-cart { 
    margin-left: 30px;
    border: 1px solid var(--Orange);
    background-color: var(--Orange);
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: var(--Orange-Pale-orange);
    color: black;
}

.




